.arrow {
  background: none;
  border: none;
  border-radius: 4;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: absolute;
  -webkit-touch-callout: none;
  user-select: none;
}

.arrow--small {
  width: 20px;
  padding: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.arrow--small.arrow--inline {
  opacity: 1;
}

.arrow--inline svg {
  fill: $main-headings-color;
  filter: none;
}

.arrow--medium {
  width: 30px;
}

@media (min-width: 768px) {
  .arrow--medium {
    width: 48px;
  }
}



@media (min-width: 500px) {
  .arrow--small {
    width: 40px;
  }
}
